.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: 'HancomMalangMalang-Regular', sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

/* 검색창 */
#search-input {
  width: 310px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
/* 버튼 컨테이너 */
.btn-container {
  margin-bottom: 20px;
  text-align: center;
}

.btn{
  margin: 2px;
  border-radius: 5px;
  padding: 5px;
}

#movie-list {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 1500px;
}

#movie-card{
  width: 100%;
  margin: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-color: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;  
  background-color: #ffffff;
  
}
#movie-card:hover {
  transform: translateY(-5px);
}

/* poster */
.movie-img {
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.movie-img:hover{
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* title */
h2 { 
  font-weight: bold;
  background-color: rgba(227, 227, 227, 0.829);
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
  height: 70px;  

  display: flex;
  align-items: center; 
  justify-content: center; 
  
}

.movie-overview{
  margin-top: 0;
  padding: 10px;
}
/* rating */
.movie-rating {
  background-color: rgba(227, 227, 227, 0.829);
  margin-top: auto;
  margin-bottom: 0;
  padding: 5px;
}

